<div class="flex items-center border-secondary-first-soft br-40" style="gap: 4px; padding: 4px;">
  <div
    (click)="seleccionar(valor)"
    class="flex items-center gap-8 px-8"
    [ngClass]="{
      'az-radio-button-item': valor.valor !== valorSeleccionado?.valor,
      'az-radio-button-item-selected': valor.valor === valorSeleccionado?.valor,
      }"
    style="height: 28px"
    *ngFor="let valor of valores"
  >
    <ng-container *ngIf="valor.iconoIzquierda">
      <span azui-icons [name]="valor.iconoIzquierda"></span>
    </ng-container>
    <p class="text-description">{{ valor.label }}</p>
    <ng-container *ngIf="valor.iconoDerecha">
      <span azui-icons [name]="valor.iconoDerecha"></span>
    </ng-container>
  </div>
</div>
