.text-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-start {
  text-align: start;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  white-space: nowrap;
}

.text-bold {
  font-weight: bold;
}

.text-regular {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}
