.size-icon{
    font-size: 42px;
    height: 42px;
}

.spinner-animation{
    font-size: 32px;
    height: 32px;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }