@use '../1-Tokens/tokens-colors.scss' as tColors;

.az-input-number {
  display: flex;
  width: fit-content;
  border-radius: 8px;
  padding: 4px;
  gap: 12px;
}

.az-input-number__disabled {
  pointer-events: none;
  opacity: 0.5;
}

.az-input-number-layout__horizontal {
  flex-direction: row;
}

.az-input-number-layout__vertical {
  flex-direction: column;
}

.az-input-number > button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.az-input-number > button > span[azui-icons] {
  color: tColors.$color-primary-4;
}

.az-input-number > input[type='number'] {
  appearance: none;
  border: none;
  outline: none;
  border-radius: 8px;
  background: tColors.$color-inverse;
  width: 42px;
  height: 40px;
  font-size: 16px;
  color: tColors.$color-base;
  text-align: center;
}

.az-input-number > input[type='number']::-webkit-outer-spin-button,
.az-input-number > input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
